<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PyLogin2</title>
    <link rel="stylesheet" href="../static/admin/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/admin/assets/css/Login-Form-Basic-icons.css">
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top bg-body py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span>PyLogin2</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/admin">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/create_user">Create user</a></li>
                    <li class="nav-item"><a class="nav-link" href="/modify_user">Modify user</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Settings</a></li>
                </ul><a class="btn btn-primary" role="button" href="/logout">Log Out</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="d-lg-flex justify-content-lg-center">Settings management</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" name="registration_enabled" {{ 'checked' if settings['registration_enabled'] else '' }}><label class="form-check-label" for="formCheck-1">Registration enabled</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2" name="default_active" {{ 'checked' if settings['default_active'] else '' }}><label class="form-check-label" for="formCheck-2">Default active</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-3" name="default_allow_web_login" {{ 'checked' if settings['default_allow_web_login'] else '' }}><label class="form-check-label" for="formCheck-3">Default allow web login</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-4" name="default_allow_api_login" {{ 'checked' if settings['default_allow_api_login'] else '' }}><label class="form-check-label" for="formCheck-4">Default allow API login</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-5" name="default_allow_system_login" {{ 'checked' if settings['default_allow_system_login'] else '' }}><label class="form-check-label" for="formCheck-5">Default allow system login</label></div><input class="form-control" type="text" placeholder="Default Role" name="default_role" style="width: auto;" value={{ settings['default_role'] }}><button class="btn btn-primary" type="submit" style="margin-top: 10px;" name="update">Update</button>
                </form>
            </div>
            <div class="col">
                <form method="post">
                    <input class="form-control" type="text" placeholder="Registration password (blank for no password)" name="registration_password">
                    <button class="btn btn-primary" type="submit" name="update_password">Update password</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-7" name="email_verification_required" {{ 'checked' if settings['verified_email_required'] else ''}}><label class="form-check-label" for="formCheck-7">E-Mail verification required</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-8" name="email_verification_force"><label class="form-check-label" for="formCheck-8">Force old E-Mails to verify</label></div><button class="btn btn-primary" type="submit" name="update_email_settings">Update E-Mail verification</button>
                </form>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger" role="alert" style="width: 100%;"><span><strong>Error</strong> {{ message }}</span></div>
                        {% elif category == 'success' %}
                            <div class="alert alert-success" role="alert" style="width: 100%;"><span><strong>Success</strong> {{ message }}</span></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <script src="../static/admin/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>